<nav class='navbar navbar-default' role='navigation'>
  <div class='container-fluid'>
    <!-- login procedure -->
    <% if (email === undefined) { %>
      <a href='/register'>Register</a>
      <a href='/login'>Login</a>
        <% } else { %>
          <a href='/logout'>Logout</a>
          <h1>
            <%= email %>
          </h1>
          <% } %>
          <div class='navbar-header'>
            <a class='navbar-brand' href='#'>
              <span class='glyphicon glyphicon glyphicon-tree-deciduous'></span>
            </a>
            <ul class='nav navbar-nav'>
              <li><a href='/'>Home</a></li>
              <li><a href='/about'>About</a></li>
            </ul>
          </div>
  </div>
</nav>