<nav class='navbar navbar-default' role='navigation'>
  <div class='container-fluid'>
    <!-- login procedure -->
    <% if (email === undefined) { %>
      <a href='/register'>Register<br /></a>
      <a href='/login'>Login<br /><br /></a>
        <% } else { %>
          <a href='/logout'>Logout</a>
          <h1>
            <%= email %>
          </h1>
          <% } %>
  </div>
</nav>