<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
</head>
<body>
  <form method="POST" action="/register">
    <input id="username" type="text" name="username" placeholder="username" style="width: 300px">
    <input id="password" type="text" name="password" placeholder="password" style="width: 300px">
    <button type="submit" value="Submit">Sign Up</button>
  </form> 