<!DOCTYPE html>
<html lang='en'>
  <head></head>
  <body style='font-size:20px; padding:50px;'>
    <% include partials/_header %>
    <% if (email === undefined) { %>
    <a href='/login'>Please login or register to create a short URL</a>
    <% } else { %>
    <form action='/urls' method='POST' style='margin:150px;'>
      <label for='longURL'>Enter a URL:</label>
      <input id='longURL' type='text' name='longURL' placeholder='http://' style='width: 300px'>
      <input type='submit' value='Submit'>
    <% } %>
    </form>
  </body>
</html>