<!DOCTYPE html>
<html lang="en">
<head>
  <title>a test</title>
</head>
<body>
    <!-- views/urls_index.ejs -->


    <!-- <div> 
        <%=  ourName %>
    </div>
    <div>
        <%= ourPoliticalViews %>
    </div> -->

</body>
</html>