<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <ul>
    <!-- views/urls_index.ejs -->
    const listOfURLs = [
    { longURL: "http://www.lighthouselabs.ca", shortURL: <a href='#'>link</a> }
    ];  
  </ul>
</body>
</html>