<!DOCTYPE html>
<html lang="en">
    <head>
    <title>TinyApp</title>
    </head>
    <header>
    <% include ./partials/_header%>
    </header>
    <body>
            <%= shortURL %><br>
            <%= longURL %>

        <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">
            <label for="longURL">Update Your URL:</label>
            <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>